// Mixins here
.font {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
}

.font2 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding: 2rem;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 300px;
    width: 28%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.p {
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}